body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
}

.form-container {
    /* background-color: antiquewhite; */
    /* border: 1px solid #ccc; */
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Mengatur tata letak elemen dalam bentuk kolom */
}

#forgot {
    font-weight: normal;
}

#forgot:hover {
    color: blue; 
    cursor: pointer; 
}

.form-group label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.form-group input {
    margin: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    align-self: center;
    width: 50%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    margin: 5px 3px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

#register-now:hover{
    color: blue;
    cursor: pointer;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
}

.facebook-login {
    display: inline-block;
    width: 50%;
    padding: 10px 10px;
    margin: 5px 3px;
    background-color: #007bff;
    color: white;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.facebook-login:hover {
    border-color: yellow;
    cursor: pointer;
}

.google-login {
    display: inline-block;
    width: 50%;
    padding: 10px 10px;
    margin: 5px 3px;
    background-color: #e8e8e8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-login:hover {
    border-color: black;
    cursor: pointer;
}

.facebook-login img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Untuk mengatur posisi vertikal gambar */
    margin-right: 5px; /* Jarak antara gambar dan teks */
}

.google-login img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Untuk mengatur posisi vertikal gambar */
    margin-right: 5px; /* Jarak antara gambar dan teks */
}

/* .social-login a {
    display: inline-block;
    padding: 8px 8px;
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
} */

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .form-group {
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .form-group label {
        font-size: 14px;
    }

    .form-group input {
        font-size: 14px;
    }

    .register-link,
    .forgot-password-link {
        font-size: 14px;
    }

    .social-login p {
        font-size: 14px;
    }
}