body {
    font-family: 'Lexend';
    margin: 0;
    padding: 0;
    background-color: rgb(242,252,255);
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.header img {
    width: 250px;
    height: 250px;
}

.form-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Mengatur tata letak elemen dalam bentuk kolom */
}

#forgot {
    font-weight: normal;
}

#forgot:hover {
    color: blue; 
    cursor: pointer; 
}

.form-group label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.form-group-pw label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.form-group input {
    margin: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group-pw input {
    margin: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:hover{
    border-color: black;
}

.password-input {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-input input {
    margin: 0;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid transparent;
}

.password-input img {
    width: 25px;
    margin: 0 3px;
    cursor: pointer;
}

.password-input:hover {
    border-color: black;
}

.form-group button {
    font-family: 'Lexend';
    align-self: center;
    width: 50%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    /* margin: 5px 3px; */
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    border: 1px solid transparent; 
    cursor: pointer;
    border-radius: 5px;  
}

.form-group button:hover {
    border-color: black;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

#register-now:hover{
    color: blue;
    cursor: pointer;
}

.social-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
}

.social-login p {
    font-size: 18px;
    margin-bottom: 10px;
}

.facebook-login {
    display: inline-block;
    align-self: center;
    width: 50%; 
    padding: 10px 0; /* Menghilangkan padding horizontal dan memberikan padding vertical yang sama */
    margin: 5px 3px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: 1px solid transparent; 
    border-radius: 5px;
    cursor: pointer;
}

.facebook-login:hover {
    border-color: black;
    cursor: pointer;
}

.google-login {
    display: inline-block;
    align-self: center;
    width: 50%; 
    padding: 10px 0; /* Menghilangkan padding horizontal dan memberikan padding vertical yang sama */
    margin: 5px 3px;
    font-size: 18px;
    background-color: #e8e8e8;
    color: black;
    border: 1px solid transparent; 
    border-radius: 5px;
    cursor: pointer;
}

.google-login:hover {
    border-color: black;
    cursor: pointer;
}

.facebook-login img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Untuk mengatur posisi vertikal gambar */
    margin-right: 5px; /* Jarak antara gambar dan teks */
}

.google-login img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Untuk mengatur posisi vertikal gambar */
    margin-right: 5px; /* Jarak antara gambar dan teks */
}

/* Media Queries for Responsive Design */

/* @media only screen and (max-width: 1200px) {
    .header img {
        width: 250px;
        height: 250px;
    }

    .form-group {
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }
} */

@media only screen and (max-width: 450px) {
    .header img {
        width: 200px;
        height: 200px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input {
        font-size: 14px;
    }

    .form-group button {
        font-size: 14px;
    }

    .register-link,
    .forgot-password-link {
        font-size: 14px;
    }

    .facebook-login {
        font-size: 14px;
    }

    .google-login {
        font-size: 14px;
    }

    .social-login p {
        font-size: 14px;
    }

    .register-link {
        font-size: 14px;
    }

    .container{
        max-width: 400px;
        margin: 0;
        background-color: white;
    }
}