body {
    background-color: rgb(242,252,255);
    font-family: 'Lexend';
}

ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters>li {
    list-style: none;
    display: inline-block;
}

ul.filters>li>a {
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters>li>a:hover {
    background-color: #e6e9ed;
}

ul.filters>li.active>a {
    color: #fff;
    background-color: #609695;
}

.fluent--open-16-regular {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M4.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5V9.27a.5.5 0 0 1 1 0v2.23a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5v-7A2.5 2.5 0 0 1 4.5 2h2.23a.5.5 0 0 1 0 1zm4.27-.5a.5.5 0 0 1 .5-.5h4.23a.5.5 0 0 1 .5.5v4.23a.5.5 0 0 1-1 0V3.708L9.623 7.084a.5.5 0 1 1-.707-.707L12.293 3H9.269a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@media only screen and (min-width: 768px) {
    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .card-title,
    .card-text-date {
        margin: 0;
    }
  
    .card-text-date {
        margin-top: auto;
    }
  
  
    .card-custom-height {
      height: 170px;
    }
    
    .img-custom-height {
      height: 170px;
      object-fit: cover;
    }
  
    .card-title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    }
  
    .card-text-desc{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      margin-top: 5px;
    }
  }