body {
  font-family: 'Lexend';
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.review-container {
  /* max-width: 800px; */
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* padding: 20px; */
}

.recommend {
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.comment-container {
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  /* height: 400px; */
  max-height: 450px;
  object-fit: cover;
}

.review-content {
  padding: 20px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  font-size: 1.1em;
}

.review-date {
  font-size: 0.9em;
  color: #6c757d;
}

.review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}


.review-rating .fa.checked {
  color: orange;
}

.review-rating .fa:not(.checked) {
  color: #e4e5e9;
}

.review-text p {
  margin: 0 0 15px;
  margin-bottom: 20px;
}


.review-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-actions .fa {
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s;
}

.review-actions .fa:hover {
  color: #007bff;
}

.breadcrumb-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  margin-top: 80px;
}

.breadcrumb {
  /* justify-content: center; */
  margin: auto auto;
  font-size: 14px;
}

.breadcrumb a,
.breadcrumb span {
  margin-right: 5px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #0056b3;
}

.breadcrumb span {
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.comment-section h2 {
  padding: 10px 10px;
}

.news-comment {
  padding: 10px 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.comment-author {
  display: flex;
  align-items: center;
}

.comment-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-size: 15px;
}

.comment-date {
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
}

.comment-content {
  margin-bottom: 15px;
}

.comment-content p {
  line-height: 1.6;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-love img {
  width: 25px;
  height: 25px;
  box-shadow: none;
}

@media only screen and (max-width: 450px) {
  .comment-section {
    font-size: 26px;
  }

  .comment-author img {
    width: 30px;
    height: 30px;
  }

  .author-name {
    font-size: 12px;
  }

  .comment-content p {
    font-size: 12px;
  }

  .comment-love img {
    width: 20px;
    height: 20px;
  }

  .comment-date {
    font-size: 12px;
  }
}

.comment-section h2 {
  padding: 10px 10px;
}

.star-group .fa {
  font-size: 24px;
  margin: 0 5px;
  color: #ccc;
}

.star-group .fa.checked {
  color: orange;
}

.card-custom-height-big-review {
  height: 350px;
}

.card-custom-height-big-review img {
  height: 200px;
  object-fit: cover;
}

.add-comment {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-comment input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin-right: 10px;
  font-size: 16px;
}

.btn {
  background-color: rgb(62, 132, 132);
  border: 0;
  color: white;
  font-weight: 600;
  font-family: 'Lexend';
  font-size: 16px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: #04738b;
  color: white;
}

@media only screen and (max-width: 767px) {
  .btn {
    background-color: rgb(62, 132, 132);
    border: 0;
    color: white;
    font-weight: 600;
    font-family: 'Lexend';
    font-size: 12px;
    padding: 12px 10px;
  }

  .btn:hover {
    background-color: #04738b;
    color: white;
  }
}